.form {
  display: flex;
}

.form input {
  width: 456px;
  padding: 17px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form label {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-left: 10px;
}
